body, html{
    height: 100%;
    margin: 0;
}
@media screen{
#home{
    background-image: url(../images/background/sky.jpg);
    background-position: top;
    background-size: cover;
    margin: 0 auto;
    min-height: 80%;
    height: 80%;
    position: relative;
    -webkit-box-shadow: 0 -20px 100px rgba(0,0,0,0.8) inset;
    box-shadow: 0 -20px 100px rgba(0,0,0,0.8) inset;
    }}

#home article{
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
    color: white;
    font-size: 300%;
}

#middle{
    background-color: #333;
    margin: 0;
    height: 20%;
    position: relative;
}

#middle article{
    height: auto;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    color: white;
}

#middle:hover{
    background-color: royalblue;
}

#about{
    background: url(../images/background/mountains.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    position: relative;
    -webkit-box-shadow: 0 20px 100px rgba(0,0,0,0.8) inset;
    box-shadow: 0 20px 100px rgba(0,0,0,0.8) inset;
}

#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}