body, html{
    height: 100%;
    margin: 0;
}
@media screen{
#home{
    background-image: url(../images/background/sky.jpg);
    background-position: top;
    background-size: cover;
    margin: 0 auto;
    min-height: 80%;
    height: 80%;
    position: relative;
    }}

#home article{
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%
}

#middle{
    background-color: #333;
    height: 40%;
    position: relative;
    -webkit-box-shadow: 50px 0 rgba(0,0,0,0.8);
    box-shadow: 50px 0 rgba(0,0,0,0.8);
}

#about{
    background: url(../images/background/mountains.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 120%;
    height: 120%;
    bottom: 20%;
    position: relative;
}

#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}