@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
    margin: 0;
}

#title {
    padding: 10px 0;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    margin: 0;
}

body,
html {
    height: 100%;
    margin: 0;
}

.pages article {
    color: white;
    font-size: 300%;
}

@media screen {
    #home {
        background-image: url(images/background/sky.jpg);
        background-position: top;
        background-size: cover;
        margin: 0 auto;
        min-height: 80%;
        height: 80%;
        position: relative;
        -webkit-box-shadow: 0 -20px 100px rgba(0, 0, 0, 0.8) inset;
        box-shadow: 0 -20px 100px rgba(0, 0, 0, 0.8) inset;
    }
}

#home article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
}

#middle {
    background-color: #333;
    margin: 0;
    height: 20%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
}

#middle div {
    height: auto;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    color: white;
    font-size: 300%;
}

#middle:hover {
    background-color: royalblue;
}

#about {
    background: url(images/background/mountains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    position: relative;
    -webkit-box-shadow: 0 20px 100px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 20px 100px rgba(0, 0, 0, 0.8) inset;
}

.wsButton.non-focus {
    opacity: 0;
    width: 0;
    left: 50%;
    top: 20%;
    transition: all 0.8s ease-in-out;
}

.wsButton {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 20%;
    left: 40%;
    right: 40%;
    background-color: #333;
    transition: all 0.8s ease-in-out;
}

.wsButton:hover {
    background-color: royalblue;
}

.wsButton a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 17px;
    padding: 20px 0;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
    transition: all 0.8s ease-in-out;
}

.wsButton.non-focus a {
    font-size: 0;
    transition: all 0.8s ease-in-out;
}

#overlay {
    position: fixed;
    display: block;
    height: 100%;
    max-height: 1080px;
    min-width: 100%;
    background-image: url(images/overlay.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    z-index: 3;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

@keyframes overlayfade {
    0% {
        display: block;
    }

    100% {
        display: none;
    }
}

.collapsible {
    background-color: #333;
    color: #f2f2f2;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
}

.collapsible:hover {
    background: #ddd;
    color: black;

}

button.active {
    background-color: royalblue;
    color: white;
}

button.active:hover {
    background-color: royalblue;
    color: white;
}

.content {
    padding: 0 18px;
    overflow: hidden;
    text-align: left;
    background-color: #f2f2f2;
    max-height: 0;
    transition: max-height 0.2s ease-out
}

#card-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible:hover:after {
    color: black;
}

button.active:after {
    content: "\2212";
}

.collapsible.active:hover:after {
    color: white;
}

.topnav {
    z-index: 2;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: royalblue;
    color: white;
}

#namecv {
    font-weight: bold;
    vertical-align: middle;
    padding: 30px 0 0;
    font-size: 200%;
}

#pictureofmecv {
    padding-bottom: 45px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item img {
    vertical-align: text-bottom;
    margin-right: 15px;
}

.grid-item {
    margin: 10px 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.wrapper {
    background-color: #f2f2f2;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    color: #fff;
    padding: 50px 20px 200px;
    box-sizing: border-box;
}

.block {
    z-index: 1;
    position: relative;
}

.block:before {
    content: "";
    position: absolute;
    height: calc(100% - 40px);
    width: 3px;
    background-color: #333;
    left: calc(50% - 1px);
    margin-top: 90px;
}

.title {
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    padding: 20px;
    transition: all 0.8s ease-in-out;
    color: #333;
}

.each-event {
    background-color: #333;
    color: white;
    padding: 15px;
    margin: 60px 20px;
    width: 300px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.each-event:before {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: -27px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: royalblue;
    box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}

.each-event:nth-child(odd) {
    margin-left: calc(50% + 20px);
}

@keyframes expend {
    0% {
        width: 300px;
    }

    100% {
        width: 550px
    }
}

.each-event:nth-child(even) {
    margin-left: calc(50% - 321px);
}

.each-event:nth-child(even):before {
    left: calc(100% + 14px);
}

.each-event:hover {
    background-color: royalblue;
}

.extended:nth-child(even) {
    width: 550px;
    right: calc(+250px);
}

.extended:nth-child(odd) {
    width: 550px;
}

.each-event .hidable {
    position: relative;
    display: none;
    transition: 0s 180s;
}


.title.non-focus {
    font-size: 24px;
    line-height: 34px;
    transition: all 0.8s ease-in-out;
}

.each-event.non-focus {
    color: #d2d2d2;
    background: #e6e6e6;
    margin-top: 90px;
    transform: rotateZ(45deg);
    transition: all 0.8s ease-in-out;
}

.each-event.non-focus:before {
    opacity: 0;
    background-color: #aaa;
}

#tip {
    color: #d2d2d2;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.extended .hidable {
    display: block;
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hidable a {
    text-decoration: none;
    color: #d2d2d2;

}

.link {
    text-decoration: none;
    color: #777;
}

.skill-container {
    width: 50%;
    background-color: #aaa;
    margin: 2px;
}

.active + div .skill {
    text-align: left;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: royalblue;
}


.intro {
    background-color: #333;
    color: white;
    margin: auto 5% 75px;
    padding: 5%;
    font-size: 110%;
    line-height: 30px;
    text-indent: 30px;
    text-align: justify;
}


.active + div .cs {
    width: 90%;
    animation: cs 2s ease-out;
}

.active + div .xml {
    width: 85%;
    animation: xml 2s ease-out;
}

.active + div .sql {
    width: 80%;
    animation: sql 2s ease-out;
}

.active + div .java {
    width: 75%;
    animation: java 2s ease-out;
}

.active + div .web {
    width: 75%;
    animation: web 2s ease-out;
}

.active + div .cpp {
    width: 70%;
    animation: cpp 2s ease-out;
}

.active + div .latex {
    width: 70%;
    animation: latex 2s ease-out;
}

.active + div .c {
    width: 65%;
    animation: c 2s ease-out;
}

.active + div .js {
    width: 65%;
    animation: js 2s ease-out;
}

.active + div .scilab {
    width: 45%;
    animation: scilab 2s ease-out;
}

.active + div .arduino {
    width: 45%;
    animation: arduino 2s ease-out;
}

.active + div .python {
    width: 20%;
    animation: python 2s ease-out;
}

.active + div .cs:after {
    float: right;
    content: "90%";
}

.active + div .xml:after {
    float: right;
    content: "85%"
}

.active + div .sql:after {
    float: right;
    content: "80%"
}

.active + div .java:after {
    float: right;
    content: "75%"
}

.active + div .web:after {
    float: right;
    content: "75%"
}

.active + div .cpp:after {
    float: right;
    content: "70%"
}

.active + div .latex:after {
    float: right;
    content: "70%"
}

.active + div .c:after {
    float: right;
    content: "65%"
}

.active + div .js:after {
    float: right;
    content: "65%"
}

.active + div .scilab:after {
    float: right;
    content: "45%"
}

.active + div .arduino:after {
    float: right;
    content: "45%"
}

.active + div .python:after {
    float: right;
    content: "20%"
}

.active + div .mo {
    width: 95%;
    animation: mo 2s ease-out;
}

.active + div .id {
    width: 80%;
    animation: id 2s ease-out;
}

.active + div .ps {
    width: 60%;
    animation: ps 2s ease-out;
}

.active + div .sw {
    width: 55%;
    animation: sw 2s ease-out;
}

.active + div .c4 {
    width: 50%;
    animation: c4 2s ease-out;
}

.active + div .gp {
    width: 45%;
    animation: gp 2s ease-out;
}

.active + div .mo:after {
    float: right;
    content: "95%"
}

.active + div .id:after {
    float: right;
    content: "80%"
}

.active + div .ps:after {
    float: right;
    content: "60%"
}

.active + div .sw:after {
    float: right;
    content: "55%"
}

.active + div .c4:after {
    float: right;
    content: "50%"
}

.active + div .gp:after {
    float: right;
    content: "45%"
}

@keyframes cs {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@keyframes xml {
    0% {
        width: 0px;
    }

    100% {
        width: 85%;
    }
}

@keyframes sql {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

@keyframes java {
    0% {
        width: 0px;
    }

    100% {
        width: 75%;
    }
}

@keyframes web {
    0% {
        width: 0px;
    }

    100% {
        width: 75%;
    }
}

@keyframes cpp {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@keyframes latex {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@keyframes c {
    0% {
        width: 0px;
    }

    100% {
        width: 65%;
    }
}

@keyframes js {
    0% {
        width: 0px;
    }

    100% {
        width: 65%;
    }
}

@keyframes scilab {
    0% {
        width: 0px;
    }

    100% {
        width: 45%;
    }
}

@keyframes arduino {
    0% {
        width: 0px;
    }

    100% {
        width: 45%;
    }
}

@keyframes python {
    0% {
        width: 0px;
    }

    100% {
        width: 20%;
    }
}

@keyframes mo {
    0% {
        width: 0px;
    }

    100% {
        width: 95%;
    }
}

@keyframes id {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

@keyframes ps {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

@keyframes sw {
    0% {
        width: 0px;
    }

    100% {
        width: 55%;
    }
}

@keyframes c4 {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    }
}

@keyframes gp {
    0% {
        width: 0px;
    }

    100% {
        width: 45%;
    }
}


.section {
    text-align: left;
    margin-right: 75px;
    margin-left: 75px;
}
