.resumePage {
  color: #afb7c5;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url(../../ressources/images/background.png);
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.resumeContainer {
  margin : 100px;
  padding : 50px;
  background-color: #12121a;
  box-shadow: 5px 5px 30px black;
}
.resumeContainer h1 {
  font-weight: 500;
}

.introtext {
  margin: auto 5%;
  font-size: 110%;
  line-height: 30px;
  text-indent: 30px;
  text-align: justify;
}

.photoPro {
  margin: 40px;
  box-shadow: 0px 0px 100px #24325C;
}

.resumeAccordion {
  margin: 80px 20px;
  box-shadow: 0px 0px 60px #24325C ;
}

.rowLoop {
  padding: 20px 0;
}

.rowLoop + .rowLoop {
  border-top: 1px solid #202c50;
}
