

.resumeContainer {
  margin : 7%;
  padding : 3%;
  background-color: #12121a;
  box-shadow: 5px 5px 30px black;
}
.resumeContainer h1 {
  font-weight: 500;
}

.introtext {
  margin: auto 5%;
  font-size: 110%;
  line-height: 30px;
  text-indent: 30px;
  text-align: justify;
}

.photoPro {
  margin: 40px;
  box-shadow: 0px 0px 100px #24325C;
  width: 20%;
}

.resumeAccordion {
  margin: 80px 20px;
  box-shadow: 0px 0px 60px #24325C ;
}

.rowLoop {
  padding: 20px 0;
}

.rowLoop + .rowLoop {
  border-top: 1px solid #202c50;
}
