.introtext {
    margin: auto 5%;
    font-size: 110%;
    line-height: 30px;
    text-indent: 30px;
    text-align: justify;
}

.introcontainer {
    margin: 40px 40px;
    box-shadow: 5px 5px 30px black;
}

.name {
    margin-top: 50px;
}

.title {
    font-size: 200%;
    text-align: center
}