.projectsTimeline {
  padding: 7% 0;
  filter: drop-shadow(px 5px black);
}

.dateChapter {
  position: relative;
  color: #DDD;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #1f244d 65%);
  display: inline;
}

