.projectsTimeline {
  padding: 7% 0;
  filter: drop-shadow(px 5px black);
}

.dateChapter {
  position: relative;
  color: #DDD;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #1f244d 65%);
  display: inline;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtubeContainer {
  position: relative;
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}