* {
  font-family: 'Montserrat', sans-serif
}

.App {
  text-align: center;
  color: #afb7c5;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url(ressources/images/background.png);
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

/* Color Theme Swatches in Hex */
.grey { color: #afb7c5; }
.black { color: #000000; }
.bluegrey { color: #426A8C; }
.lightblue { color: #68D3BA; }
.darkblue { color: #24325C; }

.backHome img {
  width: 100%;
}

.backHome {
  position: absolute;
  margin: 3%;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  max-width: 14%;
}
